body {
  padding: 0;
  margin: 0;
}

.top-header {
  padding: 25px;
  background-color: black;
  color: white;
}

.social-contacts {
  display: flex;
  justify-content: space-between;
  align-content: center;
  text-align: center;
}

.social-media {
  display: flex;
  justify-content: space-between;
  flex-grow: 0.05;
  align-content: center;
  text-align: center;
  font-size: 20px;
}

.contact-us {
  display: flex;
  justify-content: space-around;
  flex-grow: 0.05;
  align-content: center;
  text-align: center;
  font-size: 12px;
}

.contact-us i {
  font-size: 22px;
}

nav {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  align-content: center;
  align-items: center;
  text-align: center;
  background-color: black;
  color: white;
}

nav input {
  width: 45%;
  height: 40px;
  margin-left: 6%;
  background-color: white;
  border: none;
}

nav button {
  width: 120px;
  line-height: 40px;
  font-size: 18px;
  background-color: #936c25;
  color: white;
  border: none;
}

nav i {
  margin-left: 6%;
  font-size: 25px;
}

@media (max-width: 700px) {
  input {
    visibility: hidden;
  }
}

@media (max-width: 700px) {
  .search-button {
    visibility: hidden;
  }
}

@media (max-width: 700px) {
  .site-nav {
    visibility: hidden;
  }
}

.site-nav li::before {
  display: inline-block;
  content: "";
  margin-left: 10px;
  border-top: 4px solid transparent;
  border-left: 4px solid rgb(234, 180, 22);
  border-bottom: 4px solid transparent;
  transform: rotate(135deg) skew(45deg, -45deg);
}

.site-nav {
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-evenly;
  text-transform: uppercase;
  direction: rtl;
  padding: 5px;
  margin-top: 20px;
  font-size: 18px;
  margin-bottom: 5px;
  list-style: none;
}

.site-nav li {
  font-size: 15px;
}

.main-product-outer {
  background-color: #e5e5e5;
}

.main-product {
  line-height: 30px;
  background-color: #e5e5e5;
}
.customer-review {
  padding-top: 20px;
  color: gray;
}
.customer-review span {
  color: rgb(35, 136, 170);
}
.main-product h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 42px;
}

.main-product h4 {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
}

.small-photos img {
  width: 100px;
  height: 100px;
  margin-top: 30px;
  opacity: 0.5;
}

.small-photos img:first-of-type {
  opacity: 1;
  border: solid 2px lightgray;
  border-radius: 8px;
}

.main-photo img {
  width: 400px;
  max-width: 700px;
  margin-left: 50px;
  margin-top: 35px;
}

.main-photo:last-child {
  width: 200px;
  margin-top: 70px;
}

.main-product strong {
  text-align: center;
  font-weight: bold;
}

.main-product p {
  text-align: center;
  font-weight: bold;
}

.main-product ul i {
  position: relative;
  padding-top: 5px;
  padding-right: 10px;
  color: blue;
}

.blue-checks li {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 20px;
}

.main-product p i {
  color: rgb(255, 211, 0);
}

.enlarged-price {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.enlarged-price {
  padding: 15px;
  font-size: 40px;
  font-weight: bolder;
  background-color: white;
}

.enlarged-price span {
  font-size: 24px;
  text-decoration: line-through;
  color: lightgray;
}

.quanitity-buttons {
  display: flex;
  justify-content: flex-end;
}

.quanitity-buttons div {
  display: flex;
  text-align: center;
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 10%);
}

.input-quantity {
  text-align: center;
}

.quanitity-buttons input {
  border: none;
  border-radius: 2px;
}

.main-product button {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 75px;
  padding: 15px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #e9c518;
  border: none;
}

nav .main-product {
  background-color: darkgray;
}

.sales-pitch {
  margin-bottom: 30px;
  background-color: white;
}

.sales-pitch-message h3 {
  font-size: 45px;
  text-transform: uppercase;
  font-weight: bold;
}

.dad-bod-destroyer-stack h3 {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bolder;
}

.dad-bod-destroyer-stack h2 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bolder;
}

.dad-bod-destroyer-stack p strong {
  font-size: 20px;
  color: black;
}

.dad-bod-destroyer-stack p {
  font-size: 20px;
  color: gray;
}

.benefits li::before {
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 36px;
  content: counter(section);
  border-radius: 50%;
  color: white;
  border: white solid 1px;
}

.benefits span {
  content: "";
  display: block;
  width: 75px;
  height: 1px;
  background-color: white;
  margin-right: 10px;
}

.benefits li {
  background-color: black;
  margin-bottom: 10px;
  padding: 15px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
  counter-increment: section;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.benefits p {
  margin: 0;
  color: white;
}

.sales-pitch-message {
  padding-top: 40px;
}

.sales-pitch p {
  color: gray;
}

.dad-bod-destroyer-stack-outer-shell {
  background-color: rgba(242, 244, 245, 1);
}

.dad-bod-destroyer-stack {
  background-color: rgba(242, 244, 245, 1);
  padding-top: 0;
  padding-bottom: 0;
}

.dad-bod-destroyer-stack h3 {
  text-transform: uppercase;
  margin-top: 30px;
}

.dad-bod-destroyer-stack p {
  font-size: 16px;
}

.nuttrition-pic img {
  width: 375px;
  margin-bottom: 40px;
  padding: 20px;
}

.cravings-killer {
  background-color: rgb(175, 7, 7);
  color: white;
}

.cravings-killer header {
  margin-top: 5%;
  font-size: 40px;
}

.cravings-killer p {
  font-size: 20;
}

.cravings-killer button:nth-child(2) {
  background-color: transparent;
  font-weight: bold;
  border: solid white 1px;
  color: white;
}

.cravings-killer button:nth-child(2):hover {
  font-weight: bold;
  background-color: white;
  color: black;
  border: none;
}

.cravings-killer button {
  width: 100%;
  max-width: 130px;
  padding: 10px;
  font-weight: bold;
  background-color: white;
  color: black;
  border: 1px solid black;
}

.cravings-content {
  padding-left: 20%;
}

.cravings-content p {
  padding-right: 10%;
}

.cravings-content img {
  width: 375px;
  margin-bottom: 30px;
}

.superhuman-burn {
  background-color: black;
  color: white;
}

.superhuman-burn header {
  text-transform: uppercase;
  font-weight: bold;
}

.nightburn {
  background-color: rgb(52, 9, 52);
  color: white;
}
.nightburn header {
  text-transform: uppercase;
  font-weight: bold;
}

.perf-stats {
  background-color: white;
}
.perf-stats p {
  text-transform: uppercase;
  font-weight: bold;
}
.perf-stats span {
  font-size: 40px;
  font-weight: bolder;
}
.perf-stats h3 {
  margin-top: 35px;
  text-align: center;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: bold;
}

.perfomance-benefits {
  display: flex;
  padding: 20px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.perf-stats img {
  width: 160px;
  padding: 0;
}

.bonus-item-box {
  max-width: 990px;
}

.promotional {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border: solid 5px rgb(235, 49, 49);
  border-radius: 5px;
  list-style: none;
}

.promotional img {
  max-width: 125px;
}

.bonus-item-content {
  padding: 50px;
  justify-content: center;
  align-items: center;
}
.promotional h2 {
  padding: 30px;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
  background-color: rgb(175, 7, 7);
  color: white;
}

.promotional-content {
  padding: 0;
  margin: 0;
}

.promotional-content ul {
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

.promotional-content ul:last-child {
  text-transform: uppercase;
  font-weight: bold;
}

.list-number {
  width: 50px;
  height: 50px;
  font-size: 30px;
  background-color: rgb(235, 49, 49);
  color: white;
  border-radius: 50%;
  border: 1px solid;
}

ul {
  list-style: none;
}
.free {
  text-transform: uppercase;
  border-radius: 0;
  background-color: red;
  color: white;
}

.price-cut {
  text-decoration: line-through;
  color: gray;
}

.plus-much-more p {
  text-transform: uppercase;
  font-size: 35px;
  font-weight: bolder;
  color: black;
}

.plus-much-more button {
  padding: 15px;
  line-height: 20px;
  font-weight: bold;
  color: white;
  background-color: black;
}

.second-buy-now-section {
  margin: 0;
  padding-bottom: 100px;
  background-color: rgba(242, 244, 245, 1);
}

.secret-weapon {
  background-color: rgba(242, 244, 245, 1);
}

.secret-weapon h3 {
  margin-bottom: 50px;
  padding-top: 75px;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-weight: bolder;
}

.buy-now-content img {
  width: 600px;
  min-width: 200px;
}

@media (max-width: 700px) {
  .secret-weapon img {
    width: 500px;
    padding-right: 100px;
  }
}

.secret-weapon ul :first-of-type {
  color: rgb(220, 15, 15);
}

.secret-weapon ul {
  font-size: 25px;
  text-transform: capitalize;
}

.secret-weapon-price :nth-child(1) {
  justify-content: center;
  font-size: 35px;
  text-decoration: line-through;
  color: gray;
}

.secret-weapon-price :nth-child(3) {
  justify-content: center;
  font-size: 70px;
  font-weight: bolder;
}

.secret-weapon-price :nth-child(5) {
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  color: rgb(186, 18, 18);
}

.secret-weapon-price button {
  width: 50%;
  margin-top: 50%;
  line-height: 60px;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bolder;
  background-color: #f2c44f;
  border: none;
}

.training-days {
  position: relative;
  padding-top: 100px;
}

.training-days li::before {
  position: absolute;
  width: 38px;
  content: counter(section);
  top: 0;
  left: -41px;
  line-height: 38px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ccc;
  color: #fff;
}

.training-days ul {
  margin-bottom: 5%;
  background-color: white;
}

.training-days li {
  display: flex;
  position: relative;
  padding: 10px;
  margin-bottom: 10px;
  flex-direction: column;
  align-items: flex-start;
  border-left: #ccc solid 3px;
  counter-increment: section;
  background-color: #f2f4f5;
}

.training-days strong {
  text-transform: capitalize;
  font-weight: bold;
  color: #d93e3e;
}

.training-days h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: bold;
}

.training-days h3 {
  padding-left: 13%;
  line-height: 75px;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 20px;
}

.big-list {
  counter-increment: section-v2;
}

.big-list ul {
  margin: 0;
  padding: 0;
}

.big-list li {
  display: flex;
  padding: 10px 0;
  align-items: center;
  flex-direction: row;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  background-color: black;
  color: white;
}

.big-list li::before {
  display: block;
  width: 40px;
  height: 40px;
  content: counter(section-v2);
  text-align: center;
  line-height: 36px;
  color: white;
  border: white solid 1px;
  border-radius: 50%;
}

.big-list span {
  display: block;
  width: 75px;
  height: 1px;
  content: "";
  background-color: white;
  margin-right: 10px;
}

.big-list p {
  margin: 0;
}

.big-list {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
}
